.top {
  background-color: gray;
}

.info {
  background-color: darkgreen;
}

.big-quote {
  background-color: lightgray;
}

.action-call {
  background-color: darkgreen;
}

.footer {
  background-color: gray;
}