:root {
  --black: rgb 
}

* {
  margin: 0;
}

#header-image {
  width: 50px;
  object-fit: contain;
}

#nav-bar {
  display: flex;
  align-items: center;
}

.links {
  display: flex;
}

.nav-link {
  list-style: none;
}

.nav-link a {
  text-decoration: none;
}

.info {
  background-color: darkgreen;
}

.big-quote {
  background-color: lightgray;
}

.action-call {
  background-color: darkgreen;
}

.footer {
  background-color: gray;
}

#title {
  display: flex;
}